body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
}

#gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
}

.person {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    width: 21vw;
}

.information {
  width: 21vw;
  flex-shrink: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}

.information h2 {
  font-size: .7em;
  margin: 3px 0 0 3px;
  padding-bottom: 3px;
  border-bottom: 2px solid green;
}

.information h3 {
  font-size: .5em;
  margin: 3px 0 0 3px;
  color: gray;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.information p {
  font-size: .7em;
  text-transform: capitalize;
  margin: 0;
  font-weight: lighter;
  line-height: 20px;
}
.addressSpacer {
  height: 2vh;
}
.SSN {
  color: green;
  padding-top: 10px;
}
img {
  width: 21vw;
  height: auto;
}

.endspacer {
  height: 5vh;
}
